// main colors

$color-primary-light:#778899;
$color-primary-dark:#2F4F4F;

// bg-colors

$primary-bg-color:#D3D3D3;
$secondary-bg-color:#DCDCDC;

// font colors

$primary-font-color: #eee;
$secondary-font-color: #344;

// font sizes

$default-font-size: 1.6rem;

// heading sizes

$small-heading-font-size: 2rem;
$medium-heading-font-size: 4rem;
$large-heading-font-size: 6rem;

// Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$gutter-vertical-small: 6rem;

// Blog colors

$blog-bg-color: #4b73ed;

// date colors

$blog-date-color: #f55;