{% extends 'base.html' %}
{% load static%}
{% block content %}
<section class="project-page">
    <div class="row">
            <h2 class="heading-primary-secondary margin-bottom-lg">New Builds</h2>
    <div class="col-2-of-4">
        <p class="project-text">
            Lorem ipsum dolor, sit amet 
            consectetur adipisicing elit. Molestiae itaque,
             voluptate modi consectetur impedit quia incidunt 
             rerum necessitatibus? Rerum nam cupiditate ipsa 
             laudantium 
            aliquam adipisci enim ad autem quo maxime?
            Lorem ipsum dolor, sit amet 
            consectetur adipisicing elit. Molestiae itaque,
             voluptate modi consectetur impedit quia incidunt 
             rerum necessitatibus? Rerum nam cupiditate ipsa 
             laudantium 
            aliquam adipisci enim ad autem quo maxime?
            Lorem ipsum dolor, sit amet 
            consectetur adipisicing elit. Molestiae itaque,
             voluptate modi consectetur impedit quia incidunt 
             rerum necessitatibus? Rerum nam cupiditate ipsa 
             laudantium 
            aliquam adipisci enim ad autem quo maxime?
            Lorem ipsum dolor, sit amet 
            consectetur adipisicing elit. Molestiae itaque,
             voluptate modi consectetur impedit quia incidunt 
             rerum necessitatibus? Rerum nam cupiditate ipsa 
             laudantium 
            aliquam adipisci enim ad autem quo maxime?
        </p>
    </div>
    <div class="col-2-of-4">
        <img class="project-img margin-bottom-lg" src="{% static 'img/new-build-projects-350x300.jpg' %}" alt="">
        </div>
    </div>
    <h2 class="heading-primary-secondary margin-bottom-lg">Kitchen Installations</h2>
<div class="row">
    <div class="col-2-of-4">
        <img class="project-img margin-bottom-lg" src="{% static 'img/kitchen-service.jpg' %}" alt="">
    </div>
    <div class="col-2-of-4">
        <p class="project-text">
        Lorem ipsum dolor, sit amet 
        consectetur adipisicing elit. Molestiae itaque,
            voluptate modi consectetur impedit quia incidunt 
            rerum necessitatibus? Rerum nam cupiditate ipsa 
            laudantium 
        aliquam adipisci enim ad autem quo maxime?
        Lorem ipsum dolor, sit amet 
        consectetur adipisicing elit. Molestiae itaque,
            voluptate modi consectetur impedit quia incidunt 
            rerum necessitatibus? Rerum nam cupiditate ipsa 
            laudantium 
        aliquam adipisci enim ad autem quo maxime?
        Lorem ipsum dolor, sit amet 
        consectetur adipisicing elit. Molestiae itaque,
            voluptate modi consectetur impedit quia incidunt 
            rerum necessitatibus? Rerum nam cupiditate ipsa 
            laudantium 
        aliquam adipisci enim ad autem quo maxime?
        Lorem ipsum dolor, sit amet 
        consectetur adipisicing elit. Molestiae itaque,
            voluptate modi consectetur impedit quia incidunt 
            rerum necessitatibus? Rerum nam cupiditate ipsa 
            laudantium 
        aliquam adipisci enim ad autem quo maxime?
        </p>
    </div>
</div>
</section>
{% endblock %}