.form{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);

    @include respond(tab-port){
        width: 100%;
    }

    @include respond(phone){
        width: 100%;
    }
    
}

label{
    font-size: 1.5rem;
    color: $secondary-bg-color; 
}