.footer{
    background-color: #344;
    padding: 10rem 0;
    font-size: 1.4rem;

    @include respond(tab-port){
        padding: 8rem 0;
    }

    &__navagation{
        border-top: 1px dashed $primary-font-color;
        padding: 2rem;
        display: inline-block;

        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }

        
    }

    &__list{
        list-style: none;
    }

    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.2rem;
        }
    }

    &__link{
        &:link,
        &:visited{
            color: $primary-font-color;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 1rem;
        }

        &:hover,
        &:active{
            color: $secondary-bg-color;
            box-shadow: 0 1rem 2rem rgba(0,0,0, .4);
        }
    }

    &__copyright{
        color: $primary-font-color;
        text-align: center;
        padding: 2rem;
        display: inline-block;
        margin: 0 auto;
        width: 80%;

        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }

    }
}